@use '~@angular/material' as mat;


$md-mcgpalette1: (
  50 : #e4ecea,
  100 : #bacfcb,
  200 : #8dafa8,
  300 : #5f8f85,
  400 : #3c776b,
  500 : #1a5f51,
  600 : #17574a,
  700 : #134d40,
  800 : #0f4337,
  900 : #083227,
  A100 : #6cffd2,
  A200 : #39ffc3,
  A400 : #06ffb4,
  A700 : #00eba4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$md-mcgpalette2: (
  50 : #f9eae5,
  100 : #f1ccbe,
  200 : #e8aa93,
  300 : #de8768,
  400 : #d76e47,
  500 : #d05427,
  600 : #cb4d23,
  700 : #c4431d,
  800 : #be3a17,
  900 : #b3290e,
  A100 : #ffe5e0,
  A200 : #ffb8ad,
  A400 : #ff8c7a,
  A700 : #ff7661,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cw-primary: mat.define-palette($md-mcgpalette1, 500);
$cw-accent: mat.define-palette($md-mcgpalette2, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$cw-warn: mat.define-palette(mat.$red-palette);

$cw-theme: mat.define-light-theme((
  color: (
    primary: $cw-primary,
    accent: $cw-accent,
    warn: $cw-warn,
  )
));



// Emit theme-dependent styles for common features used across multiple components.
@include mat.core();
@include mat.core-theme($cw-theme);

// Emit styles for MatButton based on `$cw-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($cw-theme);

// Include the theme mixins for other components you use here.
@include mat.all-component-themes($cw-theme);
@include mat.all-component-colors($cw-theme);
@include mat.all-component-typographies($cw-theme);
